@import "../../theme/variables";

.ios, .md {
  page-totals {
	ion-content {

	  .month-selector {
		display: flex;
		justify-content: flex-end;

		ion-select {
		  background-color: $eggplant;

		  max-width: 50vw;

		  border-radius: 40px;

		  .select-text {
			padding: 10px;

			color: $shell;

			font-size: 1.2em;
			font-weight: 600;
		  }

		  .select-icon {
			top: 10px;

			margin-right: 10px;
		  }

		  .item-cover {
			height: inherit;
			width: inherit;
		  }
		}

	  }

	  .result-cards {

		.total-card {
		  background-color: white;

		  border-radius: 20px;

		  padding: 20px;
		  margin-top: 20px;

		  h1 {
			text-align: center;

			color: $eggplant;

			font-size: 1.5em;
		  }

		  span {
			font-size: 1.2em;
		  }

		  .member-total-name, .member-action {
			color: $eggplant;
			font-weight: 500;
		  }

		}

	  }

	}
  }
}
