<ion-header>
  <ion-navbar>
    <ion-title>
      Journal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group class="entriesList" *ngFor="let group of groupedEntries">
    <ion-item-divider>
      <ion-label>{{group.key}}</ion-label>
      <ion-label>100.00€</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor='let entry of group.entries'>
      <ion-item>
        <ion-label class="date">{{ entry.date | date: 'dd' }}</ion-label>
        <ion-label class="concept">{{ entry.concept }}</ion-label>
        <ion-label class="amount">{{ entry.amount | currency: '€' }}</ion-label>
      </ion-item>
      <ion-item-options>
        <button ion-button danger (click)="removeTask( entry )">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>
</ion-content>
