.md, .ios {
  page-journal {

	ion-item-group.entriesList {

	  ion-item-divider {
		background-color: $eggplant;
		color: $shell;

		div {
		  display: flex;
		  align-items: center;
		  justify-content: space-between;

		  span {
			font-size: 16px;
			font-weight: 800;
		  }

		  .total-amount {
			margin-right: 7px;
		  }
		}
	  }

	  ion-item {

		font-size: 14px;

		.date {
		  flex: 2
		}

		.concept {
		  flex: 7;
		}

		.amount {
		  flex: 3;
		  text-align: right;
		}

	  }

	}
  }
}