<ion-header>
	<ion-navbar>
		<ion-title>
			Journal
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item-group class="entriesList" *ngFor="let group of groupedEntries">
			<ion-item-divider (click)="group.showEntries = !group.showEntries">
				<div>
					<span>{{group.key}}</span>
					<span class="total-amount">{{group.total | currency:'€':'symbol':'1.2-2':'es'}}</span>
				</div>
			</ion-item-divider>
			<ion-item-sliding [hidden]="!group.showEntries" *ngFor='let entry of group.entries' #item>
				<ion-item>
					<ion-label class="date">{{ entry.payers[0].name }}</ion-label>
					<ion-label class="concept">{{ entry.concept }}</ion-label>
					<ion-label class="amount">{{ entry.amount | currency:'€':'symbol':'1.2-2':'es' }}</ion-label>
					<ion-icon item-right *ngIf="entry.commonExpense" name="people"></ion-icon>
					<ion-icon item-right *ngIf="!entry.commonExpense" name="person"></ion-icon>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="secondary" (click)="editEntry(entry)">
						Edit
					</button>
					<button ion-button color="danger" (click)="removeEntry(entry)">
						Delete
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group>
	</ion-list>
</ion-content>
